<% film_img = 'https://images.unsplash.com/photo-1478720568477-152d9b164e26?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80' %>
<% tv_img = 'https://images.unsplash.com/photo-1528928441742-b4ccac1bb04c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80' %>
<% book_img = 'https://images.unsplash.com/photo-1531988042231-d39a9cc12a9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80' %>

  <h2 class='home-title'>Read & Watch Lists</h2>

 <div class='home-container'>
    <div class='home-section'>
      <h4>TV SHOWS</h4>
      <%= link_to image_tag(tv_img), tv_shows_path, class: 'home-img' %>
    </div>

    <div class='home-section'>
      <h4>FILMS</h4>
      <%= link_to image_tag(film_img), films_path, class: 'home-img' %>
    </div>

    <div class='home-section'>
      <h4>BOOKS</h4>
      <%= link_to image_tag(book_img), books_path, class: 'home-img' %>
    </div>
 </div>

</div>
