<div class='container home-container'>

  <div class='home-section'>
    <%= link_to 'Films', films_path %>
  </div>

  <div class='home-section'>
    <%= link_to 'TV Shows', tv_shows_path %>
  </div>

  <div class='home-section'>
    <%= link_to 'Books', books_path %>
  </div>

</div>
